{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> header background=@site.cover_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
<div class="inner">
    <div class="site-header-content">
        <h1 class="site-title">
            {{#if @site.logo}}
            <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
            {{else}}
            {{@site.title}}
            {{/if}}
        </h1>
        <h2 class="site-description" style="font-weight: bold;">
            Sharing 
            <span class="typer" id="some-id" data-words="thoughts.,stories.,ideas." data-delay="100"
                data-colors="#778BA0,white,#778BA0" style="text-decoration:underline">
            </span>
            <span style="font-size:1em;vertical-align:middle;" class="cursor" data-cursorDisplay="|"
                data-owner="some-id"></span>
            {{!-- <span id="typed"> 
            </span> --}}
            {{!-- {{@site.description}} --}}
        </h2>
    </div>
    {{> "site-nav"}}
</div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
{{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset "js/ghosttyper.js"}}"></script>

<script>
    $("#typed").ghosttyper({
        messages: ['Thoughts', 'Stories', 'Ideas']
    });
</script> --}}