<nav class="site-nav">
    <div class="site-nav-left">
        {{^is "home"}}
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
        {{/is}}
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            <a class="social-link social-link-ms" href="https://www.linkedin.com/in/deepanaishtaweera/" title="LinkedIn"
                target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
            <a class="social-link social-link-gh" href="https://github.com/deepanaishtaweera" title="Github"
                target="_blank" rel="noopener">{{> "icons/github"}}</a>
            <a class="social-link social-link-sh" href="https://www.youtube.com/channel/UCSFysviS8V4rI9mDyZcREiA"
                title="Youtube" target="_blank" rel="noopener">{{> "icons/youtube"}}</a>
            {{#if @site.facebook}}
            <a class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook"
                target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
            {{/if}}
        </div>
        {{#if @labs.subscribers}}
        <a class="subscribe-button" href="#subscribe">Subscribe</a>
        {{/if}}
    </div>
</nav>